body {
  font-family: Arial;
  background: #111;
  color: #fff;
  text-align: center;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}
